<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center bg-light">
    <%= link_to "Wikinimous", articles_path, class: "text-secondary fs-5" %>
    <%= link_to "New Article", new_article_path, class: "text-secondary" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Editing Article</h1>
      <%= form_with(model: @article, local: true) do |f| %>
        <div class="mb-3">
          <%= f.label :title, class: 'form-label required' %>
          <%= f.text_field :title, class: "form-control", autocomplete: 'off' %>
        </div>
        <div class="mb-3">
          <%= f.label :content, class: 'form-label required' %>
          <%= f.text_area :content, class: 'form-control', rows: 10 %>
        </div>
        <%= f.submit "Update Article", class: 'btn btn-secondary', data: { disable_with: "Create Article" } %>
      <% end %>
      <%= link_to "Show", article_path(@article)%>
      <%= link_to "Back", articles_path%>
    </div>
  </div>
</div>
